src/main/resource/clearview.wsdl

<wsdl:definitions
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://ClearViewPortal.com/211SanDiego/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://ClearViewPortal.com/211SanDiego/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ClearViewPortal.com/211SanDiego/">
            <s:element name="TestConnection">
                <s:complexType/>
            </s:element>
            <s:element name="TestConnectionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="TestConnectionResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AuthHeader" type="tns:AuthHeader"/>
            <s:complexType name="AuthHeader">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="WebKey" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="GetLastCustomDataImportDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomDataImportDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetLastCustomDataImportDateResult" type="s:dateTime"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomDataID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomDataIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetLastCustomDataIDResult" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ImportCustomData">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomDataCollection" type="tns:ArrayOfCustomData"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfCustomData">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="CustomData" nillable="true" type="tns:CustomData"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="CustomData">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="CallDate" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="DataID" type="s:long"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RelatedCallID" type="s:long"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup1ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup2ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup3ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup4ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup5ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup1ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup2ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup3ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup4ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup5ID" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataCategory" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataClass" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataClass2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="DataClass3" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="DataValue" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ImportCustomDataResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ImportCustomDataResult" type="tns:ArrayOfErrorNotifications"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfErrorNotifications">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorNotifications" nillable="true" type="tns:ErrorNotifications"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ErrorNotifications">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="DataID" type="s:long"/>
                    <s:element minOccurs="0" maxOccurs="1" name="FailureReason" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetLastCustomTimeImportDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomTimeImportDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetLastCustomTimeImportDateResult" type="s:dateTime"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomTimeID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastCustomTimeIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetLastCustomTimeIDResult" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ImportCustomTime">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomTimeCollection" type="tns:ArrayOfCustomTime"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfCustomTime">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="CustomTime" nillable="true" type="tns:CustomTime"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="CustomTime">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ACDName" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                    <s:element minOccurs="1" maxOccurs="1" name="SessionID" type="s:long"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RelatedCallID" type="s:long"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup1ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup2ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup3ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup4ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="EmpGroup5ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup1ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup2ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup3ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup4ID" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="RecGroup5ID" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeType" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeCategory" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeClass" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeClass2" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="TimeClass3" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ImportCustomTimeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ImportCustomTimeResult" type="tns:ArrayOfErrorNotifications"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="boolean" type="s:boolean"/>
            <s:element name="dateTime" type="s:dateTime"/>
            <s:element name="long" type="s:long"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TestConnectionSoapIn">
        <wsdl:part name="parameters" element="tns:TestConnection"/>
    </wsdl:message>
    <wsdl:message name="TestConnectionSoapOut">
        <wsdl:part name="parameters" element="tns:TestConnectionResponse"/>
    </wsdl:message>
    <wsdl:message name="TestConnectionAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataImportDateSoapIn">
        <wsdl:part name="parameters" element="tns:GetLastCustomDataImportDate"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataImportDateSoapOut">
        <wsdl:part name="parameters" element="tns:GetLastCustomDataImportDateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataImportDateAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetLastCustomDataID"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetLastCustomDataIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataIDAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomDataSoapIn">
        <wsdl:part name="parameters" element="tns:ImportCustomData"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomDataSoapOut">
        <wsdl:part name="parameters" element="tns:ImportCustomDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomDataAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeImportDateSoapIn">
        <wsdl:part name="parameters" element="tns:GetLastCustomTimeImportDate"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeImportDateSoapOut">
        <wsdl:part name="parameters" element="tns:GetLastCustomTimeImportDateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeImportDateAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetLastCustomTimeID"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetLastCustomTimeIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeIDAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomTimeSoapIn">
        <wsdl:part name="parameters" element="tns:ImportCustomTime"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomTimeSoapOut">
        <wsdl:part name="parameters" element="tns:ImportCustomTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="ImportCustomTimeAuthHeader">
        <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="TestConnectionHttpGetIn"/>
    <wsdl:message name="TestConnectionHttpGetOut">
        <wsdl:part name="Body" element="tns:boolean"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataImportDateHttpGetIn">
        <wsdl:part name="ACDName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataImportDateHttpGetOut">
        <wsdl:part name="Body" element="tns:dateTime"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataIDHttpGetIn">
        <wsdl:part name="ACDName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomDataIDHttpGetOut">
        <wsdl:part name="Body" element="tns:long"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeImportDateHttpGetIn">
        <wsdl:part name="ACDName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeImportDateHttpGetOut">
        <wsdl:part name="Body" element="tns:dateTime"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeIDHttpGetIn">
        <wsdl:part name="ACDName" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLastCustomTimeIDHttpGetOut">
        <wsdl:part name="Body" element="tns:long"/>
    </wsdl:message>
    <wsdl:portType name="WS_211SanDiegoSoap">
        <wsdl:operation name="TestConnection">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test a connection to the 211 San Diego Web Service</wsdl:documentation>
            <wsdl:input message="tns:TestConnectionSoapIn"/>
            <wsdl:output message="tns:TestConnectionSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataImportDate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last day imported. Returns '1/1/1900' if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomDataImportDateSoapIn"/>
            <wsdl:output message="tns:GetLastCustomDataImportDateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataID">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last custom data id imported. Returns 0 if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomDataIDSoapIn"/>
            <wsdl:output message="tns:GetLastCustomDataIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomData">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Import custom data into ClearView</wsdl:documentation>
            <wsdl:input message="tns:ImportCustomDataSoapIn"/>
            <wsdl:output message="tns:ImportCustomDataSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeImportDate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last day imported. Returns '1/1/1900' if no custom time has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomTimeImportDateSoapIn"/>
            <wsdl:output message="tns:GetLastCustomTimeImportDateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeID">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last custom time id imported. Returns 0 if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomTimeIDSoapIn"/>
            <wsdl:output message="tns:GetLastCustomTimeIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomTime">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Import custom time into ClearView</wsdl:documentation>
            <wsdl:input message="tns:ImportCustomTimeSoapIn"/>
            <wsdl:output message="tns:ImportCustomTimeSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="WS_211SanDiegoHttpGet">
        <wsdl:operation name="TestConnection">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test a connection to the 211 San Diego Web Service</wsdl:documentation>
            <wsdl:input message="tns:TestConnectionHttpGetIn"/>
            <wsdl:output message="tns:TestConnectionHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataImportDate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last day imported. Returns '1/1/1900' if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomDataImportDateHttpGetIn"/>
            <wsdl:output message="tns:GetLastCustomDataImportDateHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataID">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last custom data id imported. Returns 0 if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomDataIDHttpGetIn"/>
            <wsdl:output message="tns:GetLastCustomDataIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeImportDate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last day imported. Returns '1/1/1900' if no custom time has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomTimeImportDateHttpGetIn"/>
            <wsdl:output message="tns:GetLastCustomTimeImportDateHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeID">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the last custom time id imported. Returns 0 if no custom data has been imported.
            </wsdl:documentation>
            <wsdl:input message="tns:GetLastCustomTimeIDHttpGetIn"/>
            <wsdl:output message="tns:GetLastCustomTimeIDHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_211SanDiegoSoap" type="tns:WS_211SanDiegoSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestConnection">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/TestConnection" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:TestConnectionAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataImportDate">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomDataImportDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:GetLastCustomDataImportDateAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataID">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomDataID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:GetLastCustomDataIDAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomData">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/ImportCustomData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:ImportCustomDataAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeImportDate">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomTimeImportDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:GetLastCustomTimeImportDateAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeID">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomTimeID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:GetLastCustomTimeIDAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomTime">
            <soap:operation soapAction="http://ClearViewPortal.com/211SanDiego/ImportCustomTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:ImportCustomTimeAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WS_211SanDiegoSoap12" type="tns:WS_211SanDiegoSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestConnection">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/TestConnection" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:TestConnectionAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataImportDate">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomDataImportDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:GetLastCustomDataImportDateAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataID">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomDataID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:GetLastCustomDataIDAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomData">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/ImportCustomData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:ImportCustomDataAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeImportDate">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomTimeImportDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:GetLastCustomTimeImportDateAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeID">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/GetLastCustomTimeID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:GetLastCustomTimeIDAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ImportCustomTime">
            <soap12:operation soapAction="http://ClearViewPortal.com/211SanDiego/ImportCustomTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:ImportCustomTimeAuthHeader" part="AuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WS_211SanDiegoHttpGet" type="tns:WS_211SanDiegoHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="TestConnection">
            <http:operation location="/TestConnection"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataImportDate">
            <http:operation location="/GetLastCustomDataImportDate"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomDataID">
            <http:operation location="/GetLastCustomDataID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeImportDate">
            <http:operation location="/GetLastCustomTimeImportDate"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLastCustomTimeID">
            <http:operation location="/GetLastCustomTimeID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_211SanDiego">
        <wsdl:port name="WS_211SanDiegoSoap" binding="tns:WS_211SanDiegoSoap">
            <soap:address location="http://211sandiego.clearviewportal.com/ClearViewWS/CustomServices/WS_211SanDiego.asmx"/>
        </wsdl:port>
        <wsdl:port name="WS_211SanDiegoSoap12" binding="tns:WS_211SanDiegoSoap12">
            <soap12:address location="http://211sandiego.clearviewportal.com/ClearViewWS/CustomServices/WS_211SanDiego.asmx"/>
        </wsdl:port>
        <wsdl:port name="WS_211SanDiegoHttpGet" binding="tns:WS_211SanDiegoHttpGet">
            <http:address location="http://211sandiego.clearviewportal.com/ClearViewWS/CustomServices/WS_211SanDiego.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
